.header{
    display: flex;
    align-items: center ;
    justify-content: space-between  ;
    padding-top: 25px;
    padding-bottom: 25px;
}
.header__list{
    display: flex;
    justify-content: center;
}
.header__item{
    &:not(:last-child){
        margin-right: 20px;

    }
}