<header class="header">
    <div>
        <a href="/src/index.html">LOGO</a>
        <button class="header__btn"> ON </button>
    </div>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__item"><a href="">Main</a></li>
            <li class="header__item"><a href="">About</a></li>
            <li class="header__item"><a href="">Services</a></li>
            <li class="header__item"><a href="">Contacts</a></li>
        </ul>
        <ul>
            <li> +38050344343</li>
        </ul>
    </nav>
    
</header>